# Python standard
__pycache__/
*.py[cod]
*$py.class

# Environment
.venv/
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs and local files
*.log
*.sqlite3
*.db
*.db-journal

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Pytest
.cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage
htmlcov/
.coverage
.tox/

# FastAPI docs cache
openapi.json

# Test output
output/
