{% extends "base.html" %}
{% block title %}Přidat pacienta{% endblock %}
{% block content %}
<h2>Přidat nového pacienta</h2>
<form action="/patients/create" method="post">
    <label for="name">Jméno:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="birth_date">Datum narození:</label><br>
    <input type="date" id="birth_date" name="birth_date" required><br><br>

    <label for="sex">Pohlaví:</label><br>
    <select name="sex" id="sex" required>
        <option value="M">Muž</option>
        <option value="F">Žena</option>
        <option value="O">Jiné</option>
    </select><br><br>

    <button type="submit" class="button">💾 Uložit</button>
</form>
{% endblock %}
